@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

/*
STYLE GUIDE

1.CUSTOM COLORS
#f5f6fa
#fbc531
#002255
#1e272e
rgba(30, 39, 46, 0.7) - image overlay for better text readability

2.TYPOGRAPHY
FONT-FACE: "Montserrat" or "Alkatra"
*/

/* Universal Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: 'Alkatra', 'Montserrat', sans-serif, cursive;
}

.container {
    position: relative;
    top: 15.6rem; /* To compensate for fixed header */
    display: flex;
    min-height: 120rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.heading-container {
    display: flex;
    min-height: 10rem;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.heading-main {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .5rem;
}

.description {
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    letter-spacing: .1rem;
}

.line {
    width: 2%;
    border: .1rem solid #fbc531;
    animation: fadeInRight 1s ease-out;
    margin-bottom: .7rem;
}

.image-container {
    display: flex;
    gap: 8rem;
    flex-wrap: wrap;
    justify-content: center;
}

.image-wrapper {
    display: inline-flex;
    width: 30rem;
    height: 30rem;
    position: relative;
    cursor: pointer;
    border: .5rem double #1e272e;
}

/****************************** Header ******************************/
#header {
    width: 100%;
    min-height: 15.6rem;
    position: fixed;
    z-index: 1000;
}

.brand-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1e272e;
}

#header h1 {
    font-size: 5rem;
    color: #f5f6fa;
    letter-spacing: .7rem;
    word-spacing: 1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.logo {
    width: 6rem;
    transform: translateY(1rem);
    cursor: pointer;
}

@media only screen and (max-width: 680px) {
    #header h1 {
        font-size: 2rem;
        word-spacing: 0;
        margin-bottom: 1rem;
    }

    .logo {
        width: 3rem;
        margin-bottom: .3rem;
    }
}

/****************************** Navigation Bar ******************************/
ul.navbar {
    display: flex;
    width: 100%;
    min-height: 6.7rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2rem 0 2rem;
    background-color: #fbc531;
    box-shadow: 0 .2rem 1rem 0 rgb(121, 121, 121);
    font-weight: 300;
}

ul.navbar li {
    list-style: none;
}

ul.navbar .nav-link, .nav-link:link, .nav-link:visited {
    text-decoration-color: #fbc531;
    text-decoration-thickness: .2rem;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    color: #f5f6fa;
    background-color: #002255;
    border: .1rem solid #fbc531;
    border-radius: 1rem;
    padding: .5rem 1rem .5rem 1rem;
    transition: all .3s;
}

ul.navbar li .nav-link:hover {
    text-decoration-color: #f5f6fa;
    cursor: pointer;
    border: .1rem solid #f5f6fa;
    color: #fbc531;
}

@media only screen and (max-width: 680px) {
    ul.navbar {
        display: none;
    }
}

/****************************** HERO SECTION ******************************/
#hero {
    display: flex;
    width: 100%;
    min-height: 120rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    top: 15.6rem;
    background: url(images/hero-background-image-unsplash.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/hero-background-image-unsplash.jpg);
    background-size: 100% 100%;
}

.hero-heading-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0 2rem 0;
    background-color: rgba(30, 39, 46, 0.7);
}

.hero-heading-main {
    color: #f5f6fa;
    font-size: 4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .7rem;
    animation: fadeInLeft 1s ease-out;
}

.hero-heading-sub {
    color: #f5f6fa;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: .2rem;
    animation: fadeInRight 1s ease-out;
}

.cta, .cta:link, .cta:visited {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 100;
    letter-spacing: .1rem;
    color: #f5f6fa;
    background-color: #002255;
    padding: 1rem 2rem 1rem 2rem;
    border: .1rem solid #fbc531;
    border-radius: 1rem;
    margin-top: 5rem;
    transition: all .3s;
    animation: fadeInUp 1s ease-out;
    margin-bottom: 15rem;
}

.cta:hover {
    background-color: #fbc531;
    color: #002255;
    border: .1rem solid #002255;
}

@media only screen and (max-width: 680px) {
    #hero {
        top: 5.5rem;
        min-height: 100rem;
        background-size: 100% 100%;
    }

    .hero-heading-main {
        font-size: 3rem;
        letter-spacing: .5rem;
    }

    .hero-heading-sub {
        font-size: 1.8rem;
        letter-spacing: .1rem;
    }

    #hero .cta {
        padding: .5rem 1rem .5rem 1rem;
        font-size: 1.4rem;
    }
}

/****************************** HOLIDAYS SECTION ******************************/
.holidays-img {
    width: 100%;
    height: auto;
    display: block;
}

#holidays .image-wrapper {
    display: inline-flex;
    width: 40rem;
    height: 40rem;
    position: relative;
    cursor: pointer;
    border: .5rem double #1e272e;
}

.image-wrapper .overlay {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
}

.image-wrapper:hover .overlay {
    opacity: 1;
}

.overlay-text {
    color: #f5f6fa;
    font-size: 2rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: rgba(30, 39, 46, 0.7);
    width: 100%;
    padding-top: .5rem;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s;
}

.image-wrapper:hover .overlay-text {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.fadeIn-top {
    top: 20%;
}

button.cta {
    font-family: inherit;
    padding: 1rem 10rem 1rem 10rem;
    margin: 0;
}

@media only screen and (max-width: 2000px) {
    #holidays .image-wrapper {
        width: 30rem;
        height: 30rem;
    }

    #holidays .image-container {
        padding: 0 5rem 0 5rem;
    }
}

@media only screen and (max-width: 1600px) {
    #holidays .image-container {
        width: 100%;
        gap: 2rem;
    }
}

@media only screen and (max-width: 1440px) {
    #holidays .image-container {
        width: 100%;
        gap: 2rem;
    }

    #holidays.container {
        min-height: 120rem;
    }
}

@media only screen and (max-width: 1360px) {
    #holidays .image-container {
        width: 70%;
        gap: 6rem;
    }
}

@media only screen and (max-width: 1030px) {
    #holidays.container {
        min-height: 160rem;
    }
}

@media only screen and (max-width: 780px) {
    #holidays .image-container {
        gap: 2.5rem;
    }
    
    #holidays .image-wrapper {
        width: 25rem;
        height: 25rem;
    }

    #holidays .heading-container {
        width: 100%;
        padding: 2rem 3rem 2rem 3rem;
    }

    #holidays .heading-main {
        font-size: 2rem;
    }

    #holidays .description {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 620px) {
    #holidays.container {
        min-height: 140rem;
    }

    #holidays .heading-container {
        text-align: center;
    }
    
    #holidays .image-container {
        gap: 2rem;
    }

    #holidays .cta {
        padding: 1rem;
        font-size: 1.4rem;
        letter-spacing: 0;
    }
}

/****************************** OUR TEAM SECTION ******************************/
#team .heading-container {
    background-color: rgba(30, 39, 46, 0.7);
    color: #f5f6fa;
    padding: 1rem 0 1rem 0;
}

#team.container {
    background: url(images/london-background-image.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(images/london-background-image.jpg);
    background-size: cover;
    background-position: bottom;
}

#team .image-wrapper {
    width: 30rem;
    min-height: 50rem;
    border: .2rem solid #f5f6fa;
    flex-direction: column;
    text-align: center;
    cursor: default;
    background-color: rgba(30, 39, 46, 0.8);
}

.team-img {
    width: 100%;
    height: 70%;
    display: block;
    object-fit: cover;
    object-position: center;
}

#team .image-wrapper p.name {
    color: #f5f6fa;
    background-color: #002255;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    word-spacing: .3rem;
}

#team .image-wrapper p.description {
    color: #f5f6fa;
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    letter-spacing: .1rem;
    line-height: 1.5;
    padding: 1rem 1rem 0 1rem;
}

@media only screen and (max-width: 1600px) {
    #team .image-wrapper {
        width: 25rem;
        min-height: 40rem;
    }

    .team-img {
        width: 100%;
        height: 60%;
        object-fit: fill;
    }

    #team .image-wrapper p.name {
        font-size: 1.8rem;
    }

    #team .image-wrapper p.description {
        font-size: 1.5rem;
        padding: .7rem .7rem 0 .7rem;
    }
}

@media only screen and (max-width: 1030px) {
    #team.container {
        min-height: 160rem;
    }

    #team .image-container {
        width: 55%;
    }

    #team .image-wrapper {
        width: 22rem;
        min-height: 37rem;
    }

    .team-img {
        width: 100%;
        height: 50%;
        object-fit: fill;
    }

    #team .heading-main {
        font-size: 2.5rem;
    }

    #team .description {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 780px) {
    #team .heading-main {
        font-size: 2rem;
    }

    #team .heading-container {
        padding: 2rem 5rem 2rem 5rem;
        text-align: center;
        min-height: 10rem;
    }

    #team .description {
        font-size: 1.6rem;
    }

    #team .image-wrapper p.name {
        font-size: 1.6rem;
    }

    #team .image-wrapper p.description {
        font-size: 1.4rem;
        padding: .5rem .5rem 0 .5rem;
    }

    #team .image-wrapper {
        width: 22rem;
        min-height: 33rem;
    }
}

@media only screen and (max-width: 620px) {
    #team .cta {
        padding: 1rem;
        font-size: 1.4rem;
        letter-spacing: 0;
    }
}

/****************************** ABOUT US SECTION ******************************/
#about.container {
    min-height: 90rem;
}

#about .heading-container {
    width: 40%;
    height: 100%;
    text-align: justify;
    gap: 2rem;
    line-height: 1.7;
    word-spacing: .3rem;
    letter-spacing: .3rem;
}

#about .line {
    width: 5%;
}

@media only screen and (max-width: 1440px) {
    #about.container {
        min-height: 100rem;
    }
}

@media only screen and (max-width: 1030px) {
    #about .heading-main {
        font-size: 2.5rem;
    }

    #about .description {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 780px) {
    #about.container {
        min-height: 120rem;
    }
    
    #about .heading-container {
        text-align: center;
        width: 50%;
    }
    
    #about .heading-main {
        font-size: 2rem;
    }

    #about .description {
        font-size: 1.6rem;
        text-align: justify;
    }
}

@media only screen and (max-width: 620px) {
    #about.container {
        min-height: 140rem;
    }
}

/****************************** CONTACT US SECTION ******************************/
#contact.container {
    position: relative;
    top: 15.6rem;
    display: flex;
    min-height: 120rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10rem;
}

.centre-finder {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
}

.centre-finder input {
    height: 6rem;
    border: .5rem double rgba(30, 39, 46, 0.3);
    padding: 2rem;
    text-align: center;
}

.centre-finder input:focus {
    outline: none;
    border: .2rem solid #fbc531;
}

input::placeholder {
    font-size: 1.6rem;
}

input:focus::placeholder {
    opacity: 0;
}

.centre-finder .line {
    width: 8%;
    align-self: center;
}

.contact-card-container {
    display: flex;
    gap: 8rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0 2rem 0 2rem;
}

.contact-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 50rem;
    height: 70rem;
    padding: 1rem;
    position: relative;
    border: .5rem double rgba(30, 39, 46, 0.4);
}

.contact-card .heading-main {
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: .1rem;
    line-height: 1.7;
    padding-bottom: 1rem;
}

.contact-card .description {
    padding: 2rem;
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 1.7;
}

.contact-card:first-child {
    align-items: center;
    text-align: center;
}

.contact-card:first-child .description {
    line-height: 2.5;
}

.contact-card .description .phone-number {
    font-size: 2.5rem;
    font-weight: 900;
    color: #fbc531;
}

.card-img {
    width: 85%;
    height: 40rem;
    object-fit: bottom;
    border: .2rem solid #1e272e;
}

@media only screen and (max-width: 1800px) {
    #contact .heading-container {
        margin: 5rem 0 5rem 0;
    }

    #contact .contact-card {
        width: 40rem;
        height: 65rem;
        padding: .5rem;
    }

    #contact .card-img {
        height: 30rem;
    }

    #contact .cta {
        padding: 1rem 5rem 1rem 5rem;
    }

    .contact-card .heading-main {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 1600px) {
    #contact .heading-container {
        margin: 0;
    }

    #contact .contact-card {
        width: 37rem;
        height: 65rem;
        padding: .5rem;
    }

    #contact .cta {
        padding: 1rem 3rem 1rem 3rem;
    }

    #contact .contact-card .heading-main {
        font-size: 2rem;
    }

    .contact-card-container {
        gap: 4rem;
        padding: 0 8rem 0 8rem;
    }

    .contact-card:first-child .description {
        line-height: 2;
    }
}

@media only screen and (max-width: 1030px) {
    #contact .heading-container {
        margin: 5rem 0 5rem 0;
    }

    #contact .heading-main {
        font-size: 2.5rem;
    }

    #contact .contact-card {
        width: 33rem;
        height: 57rem;
        padding: .5rem;
    }

    #contact .card-img {
        height: 20rem;
    }

    #contact .cta {
        padding: 1rem 2rem 1rem 2rem;
        font-size: 1.4rem;
    }

    #contact .contact-card .heading-main {
        font-size: 2rem;
    }

    #contact .centre-finder {
        width: 45%;
        text-align: center;
    }

    .contact-card .description .phone-number {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 780px) {
    #contact .heading-container {
        margin: 3rem 0 3rem 0;
    }

    #contact .heading-main {
        font-size: 2rem;
    }

    #contact .contact-card {
        width: 33rem;
        height: 55rem;
        padding: .5rem;
    }

    #contact .card-img {
        height: 20rem;
    }

    #contact .cta {
        padding: 1rem;
        font-size: 1.4rem;
        letter-spacing: 0;
    }

    #contact .contact-card .heading-main {
        font-size: 1.8rem;
    }

    #contact .centre-finder {
        width: 45%;
        text-align: center;
    }

    .contact-card .description .phone-number {
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 620px) {
    #contact .heading-container {
        margin: 3rem 0 2rem 0;
    }

    #contact .contact-card {
        width: 35rem;
        height: 72rem;
        padding: .5rem;
    }

    #contact .cta {
        padding: 1rem .5rem 1rem .5rem;
        font-size: 1.4rem;
    }

    #contact .contact-card .heading-main {
        font-size: 1.6rem;
        text-align: center;
    }

    #contact .centre-finder {
        width: 60%;
        text-align: center;
    }

    .contact-card .description .phone-number {
        font-size: 1.8rem;
    }
}

/****************************** FOOTER ******************************/

#footer .container {
    min-height: 30rem;
    background-color: #1e272e;
    color: #f5f6fa;
}

#footer .heading-container {
    width: 100%;
    height: 30rem;
    justify-content: space-around;
    align-items: center;
}

#footer .phone-number {
    font-size: 2rem;
    font-weight: 900;
    color: #fbc531;
}

@media only screen and (max-width: 1030px) {
    #footer .heading-main {
        font-size: 2.5rem;
    }

    #footer .description {
        font-size: 1.6rem;
    }

    #footer .description .phone-number {
        font-size: 1.6rem;
    }
}

@media only screen and (max-width: 1030px) {
    #footer .container .heading-container {
        justify-content: center;
    }
    
    #footer .heading-main {
        font-size: 2rem;
        padding: 1rem 0 1rem 0;
    }

    #footer .description {
        font-size: 1.4rem;
        padding: 1rem 0 1rem 0;
    }

    #footer .description .phone-number {
        font-size: 1.6rem;
    }
}

/****************************** ANIMATIONS ******************************/
@keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    80% {
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translate(0); }
    }

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}